name: Test FPL Fetcher

on:
  workflow_dispatch:   # manual trigger

jobs:
  run-fetcher:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run fetcher
        run: |
          python data/fetcher.py
